.root {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

.header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 26px;
}

.search {
  padding: 10px 12px;
  font-size: 15px;
  min-width: 300px;
}

.main {
}

.main ul {
}

.card {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card a {
  width: 100%;
  display: flex;
  padding: 10px;
}

.card__content {
  margin-left: 10px;
  padding: 8px 0;
}

.card__title {
  font-weight: 500;
}

.card__description {
  margin-top: 10px;
  font-size: 15px;
}

.add {
  padding: 20px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.add svg {
  margin-right: 5px;
  font-size: 20px;
  color: gray;
}

.add:hover {
  cursor: pointer;
}
