.root {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root svg {
  font-size: 26px;
  color: gray;
  z-index: 2000;
}
