.root {
  position: absolute;
  bottom: 0;
  top: 40px;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
  background-color: #f8f8f8;
  padding: 0 20px;
}

.header .group {
  display: flex;
}

.header h2 {
  font-size: 20px;
}

.header button {
  padding: 10px 10px 6px 10px;
  font-size: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.header button:hover {
  color: gray;
}

.main {
  display: flex;
  height: 100%;
}

.main .left {
  width: 300px;
  padding: 20px;
  overflow-y: scroll;
}

.main .right {
  height: 100%;
}

.main .label {
  display: flex;
  align-items: center;
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.main .label .icon {
  padding: 0 10px;
  font-size: 14px;
  color: #686868;
  border-right: 1px solid #efefef;
}

.main .search,
.main .select_repo {
  padding: 10px;
  width: 100%;
  border: none;
}

.main .search:focus,
.main .select_repo:focus {
  outline: none;
}
.main .select_repo {
  font-weight: 600;
}

.main .dup {
  font-weight: 700;
  color: red;
}

.main .repo {
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
}

.main .repo:hover {
  background-color: f8f8f8;
}

.main .selected {
  border-left: 2px solid purple;
}

.main .empty {
  font-size: 13px;
  color: gray;
  padding: 10px 0;
}
